.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .social-grid {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
  
  .social-links a {
    color: white;
    text-decoration: none;
  }
  
  .social-links img {
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }

  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  