<footer class="footer">
  <div class="social-links">
    <div class="social-grid">
      <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
        <span>Facebook</span>
      </a>
    </div>
    <div class="social-grid">
      <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
        <span>Linkedin</span>
      </a>
    </div>
    <div class="social-grid">
      <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
        <span>Instagram</span>
      </a>
    </div>
  </div>
  <p class="footer-note">&copy; 2025 Finca Web. Tech Titans.</p>
</footer>
