<footer class="footer">
    <div class="social-links">
      <div class="social-grid">
        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icons/facebook.png" alt="Facebook" />
        </a>
        <p>Facebook</p>
      </div>
      <div class="social-grid">
        <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icons/x.png" alt="X" />
        </a>
        <p>Twitter / X</p>
      </div>
      <div class="social-grid">
        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icons/insta.png" alt="Instagram" />
        </a>
        <p>Instagram</p>
      </div>
    </div>
    <p>&copy; 2025 Finca Web. Tech Titans.</p>
  </footer>