<form class="property-form-container" [formGroup]="propertyForm" (ngSubmit)="saveChanges()">
    <div class="form-field">
      <label for="name">Nombre</label>
      <input id="name" type="text" pInputText formControlName="name" />
    </div>
  
    <div class="form-field">
      <label for="department">Departamento</label>
      <input id="department" type="text" pInputText formControlName="department" />
    </div>
  
    <div class="form-field">
      <label for="enterType">Tipo de Entrada</label>
      <input id="enterType" type="text" pInputText formControlName="enterType" />
    </div>
  
    <div class="form-field">
      <label for="description">Descripción</label>
      <textarea id="description" pInputTextarea formControlName="description"></textarea>
    </div>
  
    <div class="form-field">
      <label for="numberRooms">Número de Habitaciones</label>
      <p-inputNumber id="numberRooms" formControlName="numberRooms" [min]="0"></p-inputNumber>
    </div>
  
    <div class="form-field">
      <label for="numberBathrooms">Número de Baños</label>
      <p-inputNumber id="numberBathrooms" formControlName="numberBathrooms" [min]="0"></p-inputNumber>
    </div>
  
    <div class="form-field">
      <p-checkbox inputId="isPetFriendly" formControlName="isPetFriendly" binary="true" label="¿Se permiten mascotas?"></p-checkbox>
    </div>
  
    <div class="form-field">
      <p-checkbox inputId="hasPool" formControlName="hasPool" binary="true" label="¿Tiene piscina?"></p-checkbox>
    </div>
  
    <div class="form-field">
      <p-checkbox inputId="hasAsador" formControlName="hasAsador" binary="true" label="¿Tiene asador?"></p-checkbox>
    </div>
  
    <div class="form-field">
      <label for="nightPrice">Precio por Noche</label>
      <p-inputNumber id="nightPrice" formControlName="nightPrice" [min]="0" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
    </div>
  
    <div class="upload-section">
      <h3>Subir Imagen</h3>
      <p-fileUpload
        name="file"
        customUpload="true"
        (uploadHandler)="uploadImage($event)"
        accept="image/*"
        maxFileSize="5000000"
        chooseLabel="Seleccionar Imagen"
        uploadLabel="Subir"
        cancelLabel="Cancelar">
      </p-fileUpload>
    </div>
  
    <div class="button-group">
      <button pButton type="submit" label="Guardar Cambios" class="p-button-success"></button>
      <button pButton type="button" label="Desactivar Propiedad" class="p-button-danger" (click)="deactivateProperty()"></button>
    </div>
  </form>
  
  <ng-template #loadingTemplate>
    <div class="loading-container">
      <p>Loading...</p>
    </div>
  </ng-template>
  
  
