<p-dataview [value]="getProperties()" [rows]="5" [paginator]="true">
    <ng-template #list let-items>
        <div class="custom-grid">
            <div class="custom-grid-item" *ngFor="let item of items; let first = first">
                <div class="item-container" [class.item-border-top]="!first">
                    <div class="image-container">
                        <img
                            class="item-image"
                            [src]="item.miniatureURL"
                            [alt]="item.name"
                        />
                    </div>
                    <div class="item-content">
                        <div class="item-info">
                            <div>
                                <span class="item-category">{{ item.department }}</span>
                                <div class="item-name">{{ item.name }}</div>
                            </div>
                            <div class="rating-badge">
                                <div class="rating-value">
                                    <span>{{ item.rating }}</span>
                                    <i class="pi pi-star-fill text-yellow-500"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item-actions">
                            <span class="item-price">{{ '$' + item.price }}</span>
                            <div class="action-buttons">
                                <p-button
                                    icon="pi pi-shopping-cart"
                                    label="Renta ahora"
                                    class="buy-button"
                                    [disabled]="item.inventoryStatus === 'OUTOFSTOCK'"
                                ></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataview>
