<p-toast></p-toast>
<div class="panel">
    <p-card 
        [style]="{ width: '35rem', overflow: 'hidden', backgroundColor: '#f9f9f9', borderRadius: '1rem', boxShadow: '0 4px 24px rgba(0, 0, 0, 0.08)' }" 
        styleClass="text-gray-800"
    >   
        <div class="panel-content">
            <h1 style="color: #1e1e1e;">Inicia sesión</h1>
                    
            <p-floatlabel style="margin-top: 8%; width: 100%;">
                <input style="width: 100%; border: 1px solid #ccc; border-radius: 0.5rem; padding: 0.7rem; font-size: 1rem;" pInputText id="email" [(ngModel)]="email" autocomplete="off" />
                <label for="email" style="color: #555;">Correo electrónico</label>
            </p-floatlabel>
            <p-floatlabel style="margin-top: 8%; width: 100%;">
                <input style="width: 100%; border: 1px solid #ccc; border-radius: 0.5rem; padding: 0.7rem; font-size: 1rem;" pInputText id="password" type="password" [(ngModel)]="password" autocomplete="off" />
                <label for="password" style="color: #555;">Contraseña</label>
            </p-floatlabel>
            <div style="margin-top: 8%;">
                <p-button label="Iniciar sesión" (onClick)="login()" severity="info" styleClass="p-button-rounded p-button-success p-button-lg" />
            </div>
            
            <p-button label="¿No tienes cuenta? Regístrate" variant="outlined" severity="info" size="small" (onClick)="goToRegister()" styleClass="p-button-text" />
        </div>
    </p-card>
</div>
