<p-toast></p-toast>
<div class="min-h-screen flex items-center justify-center bg-slate-200 py-12 px-4 sm:px-6 lg:px-8">
    <p-card 
        styleClass="bg-white shadow-2xl rounded-2xl"
        [style]="{ width: '35rem' }"
    >   
        <div class="flex flex-col space-y-6 p-8">
            <h1 class="text-3xl font-bold text-gray-900 text-center">Regístrate</h1>

            <div class="w-full">
                <p-floatlabel>
                    <input 
                        pInputText 
                        id="name" 
                        [(ngModel)]="names" 
                        autocomplete="off"
                        class="w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-transparent transition duration-200" 
                    />
                    <label for="email" class="text-gray-600">Nombres</label>
                </p-floatlabel>
            </div>

            <div class="w-full">
                <p-floatlabel>
                    <input 
                        pInputText 
                        id="lastNames" 
                        [(ngModel)]="lastNames" 
                        autocomplete="off"
                        class="w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-transparent transition duration-200" 
                    />
                    <label for="email" class="text-gray-600">Apellidos</label>
                </p-floatlabel>
            </div>

            <div class="w-full">
                <p-floatlabel>
                    <input 
                        pInputText 
                        id="email" 
                        [(ngModel)]="email" 
                        autocomplete="off"
                        class="w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-transparent transition duration-200" 
                    />
                    <label for="email" class="text-gray-600">Correo electrónico</label>
                </p-floatlabel>
            </div>

            <div class="w-full">
                <p-floatlabel>
                    <input 
                        pInputText 
                        id="password" 
                        [(ngModel)]="password" 
                        autocomplete="off"
                        class="w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-transparent transition duration-200" 
                    />
                    <label for="password" class="text-gray-600">Contraseña</label>
                </p-floatlabel>
            </div>

            <div class="w-full">
                <p-floatlabel>
                    <input 
                        pInputText 
                        id="number" 
                        [(ngModel)]="number" 
                        type="number" 
                        autocomplete="off"
                        class="w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-transparent transition duration-200" 
                    />
                    <label for="email" class="text-gray-600">Número</label>
                </p-floatlabel>
            </div>

            <div class="w-full flex justify-center">
                <p-selectbutton 
                    [options]="roleOptions" 
                    [(ngModel)]="role" 
                    class="ng-invalid ng-dirty"
                />
            </div>

            <div class="flex flex-col space-y-4 items-center">
                <p-button 
                    label="Registrarse" 
                    (onClick)="register()" 
                    severity="info" 
                    styleClass="w-full p-button-rounded p-button-success p-button-lg" 
                />
                
                <p-button 
                    label="¿Ya tienes cuenta? Inicia sesión" 
                    variant="outlined" 
                    severity="info" 
                    size="small" 
                    (onClick)="goToLogin()" 
                    styleClass="p-button-text" 
                />
            </div>
        </div>
    </p-card>
</div>
