body {
  background-color: black;
}
.p-card {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: black;
}

.p-card .p-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-card .p-card-body {
  padding: 16px;
}

.p-button {
  min-width: 150px;
}

.p-d-flex {
  display: flex;
}

.p-jc-center {
  justify-content: center;
}

.p-jc-between {
  justify-content: space-between;
}

.p-jc-end {
  justify-content: flex-end;
}

.p-ai-center {
  align-items: center;
}

.p-mb-4 {
  margin-bottom: 1rem;
}

.p-mb-3 {
  margin-bottom: 0.75rem;
}

.p-progressSpinner {
  margin-top: 20px;
}
