<app-menu></app-menu>

<div class="rating-container">
  <h2>Calificar alquiler</h2>

  <form (ngSubmit)="submitRating()" #ratingForm="ngForm" class="rating-form">

    <label for="score">Puntuación (1 a 5):</label>
    <input 
      type="number" 
      id="score" 
      name="score" 
      [(ngModel)]="ratingValue" 
      min="1" 
      max="5"
      required
      class="form-input"
    />

    <label for="comment">Comentario:</label>
    <textarea 
      id="comment" 
      name="comment" 
      [(ngModel)]="comments" 
      rows="4" 
      required
      class="form-input"
    ></textarea>

    <button 
      type="submit" 
      pButton 
      label="Enviar Calificación" 
      [disabled]="!ratingForm.form.valid || loading">
    </button>

  </form>
</div>

<p-toast></p-toast>

