
@font-face {
    font-family: 'atkison';
    src: url('./assets/fonts/atkinson-hyperlegible-v11-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


body {
  font-family: 'atkison', sans-serif;
}
  
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: linear-gradient(135deg, #dce8ff, #bdd8fd);
}

